.menu {
    width: 240px;
    height: 100%;
    background-color: #33333d;
    color: #cccccc;
    float: left;
    text-align: center;
    /*position: fixed;*/
}

.menu h5 {
    height: 54px;
    line-height: 54px;
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
}

.menu h5:hover {
    background-color: #1fb5ad;
    color: #ffffff;
}

.menu h5.focus {
    background-color: #1fb5ad;
    color: #ffffff;
}

.menu ul {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    background-color: #3C3C46;
    display: none;
}

.menu ul.focus {
    display: block;
}

.menu ul li {
    list-style: none;
    font-size: 13px;
    height: 34px;
    line-height: 34px;
}

.menu ul li a {
    text-decoration: none;
    color: #cccccc;
}

.menu ul li a:hover {
    color: #1fb5ad;
}

/*---用户信息-------------------------*/
.user {
    /*background-color: black;*/
    height: 100px;
    position: relative;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 25px;
}

.user .msg {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: 90px;
}


.user p {
    font-size: 13px;
    font-weight: bolder;
}

.user span {
    float: left;
    font-size: 10px;
    margin-top: 5px;
}